.filter-container {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  /* border: 2px solid red; */
}

.search-box {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
}

.filter-btn,
.reset-btn {
  padding: 8px 12px;
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.reset-btn {
  color: red;
}
